<body>
    <h1>{{title}}</h1>
    <h2>Today's Date: {{today}}</h2>
    <main>
        <div class="nav">
            <ul>
                <li><a href="/landlord" class="active">Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments">View All Apartments</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
        <div class="infos">
            <ul>
                <li class="rentDueBox">
                    <p>Payments Due:</p>
                    <p>{{numPayments}}</p>
                </li>
                <li class="workOrderBox">
                    <p>Active Work Orders:</p>
                    <p>{{numWorkOrders}}</p>
                </li>
                <li class="historyBox">
                    <p>Apartments</p>
                    <p>{{apt1}}</p>
                    <p>{{apt2}}</p>
                    {{#if apt2}}
                    <p>...</p>
                    {{/if}}
                </li>
            </ul>
        </div>
    </main>
</body>