<h1>{{title}}</h1>
{{!-- <main> --}}
  <div class="nav">
    <ul>
      {{!-- <li><a href="/landlord">Dashboard</a></li>
      <li><a href="/workorders">View All Work Orders</a></li>
      <li><a href="/viewallapartments">View All Apartments</a></li>
      <li><a href="/landlordCreateApt">Create An Apartments</a></li>
      <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
      <li><a href="/payments"  class="active">View Apartments Payments</a></li>
      <li><a href="/logout" class="logout">Log Out</a></li> --}}
      <li><a href="/landlord">Dashboard</a></li>
      <li><a href="/workorders">View All Work Orders</a></li>
      <li><a href="/viewallapartments">View All Apartments</a></li>
      <li><a href="/landlordAllTenants">View All Tenants</a></li>
      <li><a href="/landlordCreateApt">Create An Apartments</a></li>
      <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
      <li><a href="/payments"  class="active">View Apartments Payments</a></li>
      <li><a href="/editWorkOrders">Edit WorkOrders</a></li>
      <li><a href="/logout" class="logout">Log Out</a></li>
    </ul>
  </div>
  <div class="searching">
    <form id="searchPay" action="/payments" method="GET">
      <label for="aptNum">Search by Apartment Number:</label>
      <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
      <input type="submit" value="Search">
    </form>
    
  </div>
  <div class="infosp">
    {{#if payments.length}}
      <ul>
        {{#each payments}}
          <li>
            <p>Tenant Name: {{TenantName}}</p>
            <p>Apartment Number: {{AptName}}</p>
            <p>Payment Amount: {{Amount}}</p>
            <p>Payment Date: {{date}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No apartments found.</p>
    {{/if}}
  </div>


{{!-- </main> --}}





