{{!-- <body> --}}
    <h1>{{title}}</h1>
    <h2>Today's Date: {{today}}</h2>
    {{!-- <main> --}}
        <div class="nav">
            <ul>
                <li><a href="/tenant" class="active">Dashboard</a></li>
                <li><a href="/pay">Pay Rent</a></li>
                <li><a href="/submitworkorder">Submit Work Order</a></li>
                <li><a href="/viewtenantworkorders">View Work Orders</a></li>
                <li><a href="/payments">Previous Payments</a></li>
                <li><a href="/myapt">View My Apartment</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
        <div class="infos">
            <ul>
                <li class="rentDueBox">
                    <p>Rent Due:</p>
                    <p>${{rentDue}}</p> 
                    <p>Due Date:</p>
                    <p>{{rentDate}}</p>
                </li>
                <li class="workOrderBox">
                    <p>Active Work Orders:</p>
                    {{#if numWorkOrders}}
                    <p>{{numWorkOrders}}</p>
                    {{else}}
                    <p>None</p>
                    {{/if}}
                </li>
                <li class="historyBox">
                    <p>Previous Payments:</p>
                    <p>${{payment1.paymentAmount}} {{payment1.date}}</p>
                    <p>${{payment2.paymentAmount}} {{payment2.date}}</p>
                    {{#if payment2}}
                    <p>...</p>
                    {{/if}}
                </li>
            </ul>
        </div>
    {{!-- </main>
</body> --}}