{{!-- <body> --}}
    <h1>{{title}}</h1>
    {{!-- <main> --}}
        <div class="nav">
            <ul>
                <li><a href="/tenant">Dashboard</a></li>
                <li><a href="/pay">Pay Rent</a></li>
                <li><a href="/submitworkorder">Submit Work Order</a></li>
                <li><a href="/viewtenantworkorders"  class="active">View Work Orders</a></li>
                <li><a href="/payments">Previous Payments</a></li>
                <li><a href="/myapt">View My Apartment</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
  <div class="infosp">
    {{#if getAllWork.length}}
    <ul>
      {{#each getAllWork}}
      <li id="edit">
        {{!-- <p>Apartment Number: {{aptNumber}}</p> --}}
        <div class="workEditInfo">
          <p>Work Type: {{workType}}</p>
          <p>Status: {{workStatus}}</p>
          <p>Notes: {{notes}}</p>
          <p>Date Opened: {{dateOpened}}</p>
          <p>Date Closed: {{dateClosed}}</p>
          <p class="comments">Comments: 
            {{#if comments}}
              {{#each comments}}
              <br>{{this.[0]}} {{this.[2]}}:<br>{{this.[1]}}<br>
              {{/each}}
            {{else}}
              <br>None
            {{/if}}
          </p>
        </div>
        <div class="workEditEdit hidden">
          <form action="/workorders" method="post" class="new-workOrder-form">
            <p>Apartment Number: {{AptNum}}</p>
            <p>Work Type: {{workType}}</p>
            <input type="hidden" id="id" name="id" value={{workId}}>
            <p>Status: {{workStatus}}</p>

            <p>Notes: {{notes}}</p>


            <label for="comment">Add Comment (not required):</label>
            <input type="text" id="comment" name="comment" placeholder="Write comment here...">
          </form>
        </div>
        {{#if dateClosed}}
        {{else}}
        <button type='submit' class="edit-button">Edit</button>
        <button type="submit" class="end-button hidden">Save</button>
        {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
   
    <p>No Work Orders found.</p>
  {{/if}}
  </div>
{{!-- </main> --}}




