<h1>{{title}}</h1>
{{!-- <main> --}}
  <div class="nav">
            <ul>
                {{!-- <li><a href="/landlord">Dashboard</a></li>
                <li><a href="/workorders">View Work Orders</a></li>
                <li><a href="/viewallapartments"  class="active">View All Apartments</a></li>
                <li><a href="/landlordCreateApt">Create An Apartments</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li> --}}
                <li><a href="/landlord" >Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments" class="active">View All Apartments</a></li>
                <li><a href="/landlordAllTenants">View All Tenants</a></li>
                <li><a href="/landlordCreateApt">Create An Apartment</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/editWorkOrders">Edit Work Orders</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
  </div>
  <div class="searching">
    <form id="searchApt" action="/viewallapartments" method="GET">
        <label for="aptNum">Apartment Number:</label>
        <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
        <input type="submit" value="Search">
    </form>
  </div>
  <div class="infosp">
    {{#if getAllApts.length}}
    <ul>
      {{#each getAllApts}}
        <li>
          <p>Apartment Number: {{AptNum}}</p>
          <p>Rent Cost: ${{Rent}}</p>
          <p>Rent Remaining: ${{RentRemaining}}</p>
          <p>Rent Date: {{RentDate}}</p>
          <p>Size: {{Size}} sqft</p>
          <p>Beds: {{Beds}}</p>
          <p>Baths: {{Baths}}</p>
          <p>Description: {{Description}}</p>
          <p>Vacant?: {{Vacancies}}</p>
          <p>Tenant(s): {{Tenants}}</p>
          <p>WorkOrders: {{WorkOrders}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No apartments found.</p>
  {{/if}}
  </div>
{{!-- </main> --}}

{{!-- <p><a href="/landlord" class="active">Dashboard</a></p>
<h1>{{title}}</h1>

{{#if getAllApts.length}}
  <ol>
    {{#each getAllApts}}
      <li>
        <p>Apartment Number: {{aptNumber}}</p>
        <p>Rent Cost: {{rentCost}}</p>
        <p>Rent Remaining: {{rentRemaining}}</p>
        <p>Rent Date: {{rentDate}}</p>
        <p>Size: {{size}}</p>
        <p>Beds: {{bedNum}}</p>
        <p>Baths: {{bathNum}}</p>
        <p>Description: {{description}}</p>
        <p>Vacancies:{{isVacant}}</p>
        {{#each getTenants}}
        <p>Tenant:  {{tenants}}</p>
        <p>WorkOrders: {{workOrders}}</p>
      </li>
    {{/each}}
  </ol>
{{else}}
  <p>No apartments found.</p>
{{/if}} --}}
