<h1>{{title}}</h1>
{{!-- <main> --}}
  <div class="nav">
            <ul>
                {{!-- <li><a href="/landlord">Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments"  class="active">View All Apartments</a></li>
                <li><a href="/landlordCreateApt">Create An Apartments</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li> --}}
                <li><a href="/landlord">Dashboard</a></li>
                <li><a href="/workorders" class="active">View All Work Orders</a></li>
                <li><a href="/viewallapartments">View All Apartments</a></li>
                <li><a href="/landlordAllTenants">View All Tenants</a></li>
                <li><a href="/landlordCreateApt">Create An Apartment</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/editWorkOrders">Edit Work Orders</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
  </div>
  <div class="searching">
    <form id="searchPay" action="/workorders" method="GET">
    <label for="aptNum">Search by Apartment Number:</label>
    <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
    <input type="submit" value="Search">
    </form>
  </div>
  <div class="infosp">
    {{#if work.length}}
    <ul>
      {{#each work}}
        <li>
        {{!-- <p>Apartment Number: {{aptNumber}}</p> --}}
        <p>Apartment Number: {{AptNum}}</p>
        <p>Work Type: {{workType}}</p>
        <p>Status: {{workStatus}}</p>
        <p>Notes: {{notes}}</p>
        <p>Comments: {{comments}}</p>
        <p>Date Opened: {{dateOpened}}</p>
        <p>Date Closed: {{dateClosed}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No Work Orders found.</p>
  {{/if}}
  </div>
{{!-- </main> --}}
